@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bold-260 {
  @apply font-pretendard font-bold text-size-260 leading-normal;
}

.semibold-64 {
  @apply font-pretendard font-semibold text-size-64 leading-normal;
}

.semibold-32 {
  @apply font-pretendard font-semibold text-size-32 leading-normal;
}

.semibold-20 {
  @apply font-pretendard font-semibold text-size-20 leading-normal;
}

.semibold-18 {
  @apply font-pretendard font-semibold text-size-18 leading-normal;
}

.semibold-16 {
  @apply font-pretendard font-semibold text-size-16 leading-normal;
}

.medium-32 {
  @apply font-pretendard font-medium text-size-32 leading-normal;
}

.medium-20 {
  @apply font-pretendard font-medium text-size-20 leading-normal;
}

.medium-18 {
  @apply font-pretendard font-medium text-size-18 leading-normal;
}

.medium-16 {
  @apply font-pretendard font-medium text-size-16 leading-normal;
}

.medium-12 {
  @apply font-pretendard font-medium text-size-12 leading-normal;
}

.border-default {
  @apply border border-solid border-grayscale-lightgray;
}

.border-black {
  @apply border border-solid border-grayscale-black;
}

.border-boarlog {
  @apply border border-solid border-boarlog-100;
}

.shadow-default {
  box-shadow: 0px 0px 50px 10px rgba(233, 233, 233, 0.25);
}

.border-header {
  @apply border-b border-solid border-grayscale-lightgray;
}

.dimmer {
  background: hsla(230, 4%, 8%, 0.8);
}

.display-center {
  @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@keyframes fadeIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20%);
    opacity: 0;
  }
}

.toast-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.toast-fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-180 {
  transform: rotateY(180deg);
}

.perspective-1000 {
  perspective-origin: center;
  perspective: 1000px;
}
