button {
  margin: 0 20px 0 0;
  width: 83px;
}

button#hangupButton {
  margin: 0;
}

canvas {
  background-color: #666;
  vertical-align: top;
  --width: 45%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}

video {
  --width: 45%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
  margin: 0 20px 20px 0;
}

video#remoteVideo {
  display: none;
}

@media screen and (max-width: 400px) {
  button {
    margin: 0 11px 10px 0;
    width: 83px;
  }
}

button {
  margin: 0 20px 0 0;
  width: 83px;
}

button#hangupButton {
  margin: 0;
}

canvas {
  background-color: #666;
  vertical-align: top;
  --width: 45%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}

video {
  --width: 45%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
  margin: 0 20px 20px 0;
}

video#remoteVideo {
  display: none;
}

@media screen and (max-width: 400px) {
  button {
    margin: 0 11px 10px 0;
    width: 83px;
  }
}

#volumeMeter {
  display: flex;
  width: 150px;
  height: 20px;
  gap: 4px;
}

.volumeBar {
  width: 8%;
  border-radius: 4px;
  background-color: darkgray;
}

button {
  border: 1px solid #000;
  padding: 8px;
  margin-bottom: 16px;
}

